* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  background-image: url("./imgs/pexels-pixabay-33045.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: top;
}

h1 {
  color: #777;
}
